#canvas{
    width: 1050px;
    height: 500px;
}
@media screen and (max-width:1445px) {
    #canvas{
        width: 950px;
        height: 500px;
    }
}
@media screen and (max-width:1297px) {
    #canvas{
        width: 850px;
        height: 500px;
    }
}
@media screen and (max-width:1153px) {
    #canvas{
        width: 800px;
        height: 550px;
    }
}
@media screen and (max-width:1101px) {
    #canvas{
        width: 700px;
        height: 600px;
    }
}
@media screen and (max-width:1017px) {
    #canvas{
        width: 800px;
        height: 600px;
        margin-top: 1rem;
    }
    .canvansmain{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:845px) {
    #canvas{
        width: 500px;
        height: 600px;
    }
}
@media screen and (max-width:546px) {
    #canvas{
        width: 400px;
        height: 600px;
    }
}
@media screen and (max-width:438px) {
    #canvas{
        width: 300px;
        height: 600px;
    }
}
@media screen and (max-width:390px) {
    #canvas{
        width: 290px;
        margin-top: 2rem;
        height: 580px;
    }
}
@media screen and (max-width:304px) {
    #canvas{
        width: 270px;
        margin-top: 2rem;
        height: 580px;
    }
}