.gateSelectedArea{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 550px;
}
.gateSelectedArea::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width:743px) {
    .gateSelectedArea{
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        width: 100vw;
        height: 550px;
    }
}