.typesdiv{
 width: 300px;
 margin: 1.2rem 0rem 0rem 2rem;
 
}
.typescontainer{
    display: flex;
    justify-content: space-between;
}
.types{
    display: flex;
    justify-content: space-between;
}
.matMenuDiv{
    margin: .5rem 0rem .5rem 2rem;
}
@media screen and (max-width:1021px) {
    .typesdiv{
        width: 300px;
        margin: 1.4rem 0rem 0rem 2rem;
        
       }
       .typescontainer{
           display: flex;
           justify-content: space-between;
       }
       .types{
           display: flex;
           justify-content: space-between;
       }
       .matMenuDiv{
           margin: 1rem 0rem .5rem 2rem;
       }
}

@media screen and (max-width:558px) {
    .typesdiv{
        width: 200px;
        margin: 1.4rem 0rem 0rem 2rem;
        
       }
}

@media screen and (max-width:470px) {
    .typescontainer{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:390px) {
    .typescontainer{
        display: flex;
        margin-top: 1rem;
        flex-direction: column;
    }
}