body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .centerOfFullHeightComp{
    display: flex;
    justify-content: center;
  }
  .full-height {
    height: 100%;
    background-color: #f1f1f1;
    width: 90%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .confirmation-column {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    flex: 1;
  }
.headerOf-order-confirmation{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}
  .headerOf-order{
    background-color: #fff;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #008938;
    color: #fff;
    padding: 1.5rem;
  }
  .headerOf-order h2{
    color: #008938;
  }
  .firstpickupheader{
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    width: 98%;
    border-radius: 4px;
    margin-top: 2rem;
  }
  .mainof-content-pickup{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .pickup-twoinnerdivs-container{
    display: flex;
  }
  .pickup-first-inner-div{
    background-color: #fff;
    padding-inline-start: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    height: 70vh;
    width: 70%;
  }
  .content-of-inner-of-inner{
    margin-left: .8rem;
  }
  .name-of-card , .card-num {
    font-size: 13px;
  }
  .select-c-type{
    font-size: 13px;
  }
  #creditcard{
   font-size: 13px;
   border: 1px solid gray;
   outline: none;
   padding-left: .5rem;
   margin-left: .2rem;
   border-radius: 20px;
   height: 32px;
   font-size: 13px;
   width: 50%;
  }
  .name-of-card-input{
    border: 1px solid gray;
    outline: none;
    padding-left: 1rem;
    border-radius: 20px;
    height: 32px;
    font-size: 14px;
    width: 98%;
  }
  .confirmation h2{
    text-align: center;
  }
  .expDate-container{
    display: flex;
    align-items: center;
    /* background-color: red; */
  }
  .security-inputandbtn input{
    border: 1px solid gray;
    outline: none;
    padding-left: 1rem;
    border-top-left-radius: 20px;
    height: 32px;
    border-bottom-left-radius: 20px;
  }
  .securitycode-container label{
    font-size: 13px;
  }
  #expYear{
    border: 1px solid gray;
    outline: none;
    padding: 0rem 1.5rem 0rem .5rem;
    border-radius: 20px;
    height: 32px;
    font-size: 14px;
  }
  #expDate{
    border: 1px solid gray;
    outline: none;
    padding-left: 1rem;
    border-radius: 20px;
    height: 32px;
    font-size: 14px;
    width: 50%;
  }
  .expDateLabel , .sc-code-label{
    font-size: 13px;
  }
  .sc-c{
    margin-left: -2rem;
    margin-top: 1.5rem;
  }
  .slash p{
    margin-left: -3rem;
    margin-top: 1rem;
    font-size: 32px;
  }
  .card-num-input{
    border: 1px solid gray;
    outline: none;
    padding-left: 1rem;
    border-radius: 20px;
    height: 32px;
    font-size: 14px;
    width: 45%;
  }
  .content-of-second-pickup h3{
     color: #5197ff;
     font-weight: bold;
     margin-bottom: .5rem;
     margin-right: 1rem;
  }
  .content-of-second-paynment h3{
     color: black;
     font-weight: bold;
     margin-bottom: .5rem;
     margin-right: 8rem;
  }
  .content-ofinner{
    display: flex;
    margin-bottom: .5rem;
  }
  .pickup-second-inner-div{
    background-color: #fff;
    padding-inline-start: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    margin-left: 1rem;
    width: 30%;
  }
  #bBTN{
     background-color: #f1f1f1;
     color: black;
     font-size: 13px;
     margin-top: 1rem;
     margin-left: .5rem;
     padding: .3rem 4rem;
     border-radius: 20px;
  }
  #CBtn{
    background-color: #005eff;
    color: #fff;
    font-size: 13px;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .3rem 4rem;
    border-radius: 20px;
  }
  .order-confirm-top-image img{
    height: 90px;
    margin-left: 4rem;
    padding-top: 2rem;
  }
  .headerheadings{
    color: #fff;
  }
  .security-inputandbtn button{
    background-color: #f1f1f1;
    padding: .5rem .8rem;
    font-size: 13px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .securitycode-container{
    margin-top: .5rem;
  }
  @media (max-width: 768px) {
    .confirmation-column {
      flex: 100%;
    }
  }
  