.noresultmain{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.noresult{
    width: 80%;
    display: flex;
    justify-content: center;
}
.noresult p{
    color: red;
}
.card{
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    margin-left: 1rem;
}
.selectstore{
    padding: .5rem 3rem;
    background-color: #0d5da2;
    color: #fff;
    border-radius: 20px;
}
.content p{
    margin-top: 1rem;
    margin-left: 1rem;
}
.t-h{
    margin-top: .2rem;
    display: flex;
    margin-left: 1rem;
    justify-content: space-between;
    width: 75%;
}
.t-h p{
    font-weight: bold;
}
.line{
    margin-top: 2rem;
}
.linetwo{
    margin-top: .2rem;
}
.lastline{
    margin-top: .8rem;
}
.adress-div{
    width: 20%;
}
.distance-div{
    width: 20%;
}
.store-div{
    width: 17.5%;
}