.chekouthader{
    width: 300px;
}
.checkout-header-container{
    margin: 3rem 0rem 0rem 3rem;
}
.chekouthader h2{
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 30px;
}
.chekouthader img{
    height: 50px;
    margin-left: .5rem;
}
.billing-adress-required-fields{
    margin: 0rem 0rem .5rem 2.5rem;
}
.billing-adress-required-fields p{
    color: red;
}

.custom-form {
    width: 90%;
    margin: 0 auto;
  }
  
  .form-row {
    display: flex;
    margin-bottom: 0px;
  }
  
  .half-width {
    flex: 1;
    margin-right: 10px;
  }
  
  .full-width {
    flex: 2;
    margin-right: 10px;
  }
  
  .alllabels {
    display: block;
    margin-bottom: 5px;
  }
  
  .alInputsandSelectBx {
    width: 100%;
    padding-left: 12px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 20px;
    height: 32px;
    margin-bottom: 10px;
  }
  .selectBx{
    width: 100%;
    padding-left: 8px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 20px;
    height: 32px;
    margin-bottom: 10px;
  }
  .pleasenote{
    margin-bottom: .5rem;
  }
  .lastcBtn{
    display: flex;
    justify-content: right;
  }
  .lastcBtn button{
    padding: 0.4rem;
    font-family: "Poppins";
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #005eff;
    cursor: pointer;
    width: 40%;
    margin-top: .4rem;
    font-size: 13px;
  }
  .hc_div{
    margin-top: 2rem;
  }

  @media screen and (max-width:687px) {
    .checkout-header-container{
      margin: 3rem 0rem 0rem 1rem;
  }
  .billing-adress-required-fields{
    margin: 0rem 0rem .5rem .5rem;
}
  }

  @media screen and (max-width:985px) {
    .hc_div{
      margin-top: -28rem;
    }
  }

  @media screen and (max-width:568px) {
     .form-row{
      display: flex;
      flex-direction: column;
     }
  }

  @media screen and (max-width:450px) {
    .checkout-header-container{
      margin: 3rem 0rem 0rem 0rem;
  }
  .billing-adress-required-fields{
    margin: 0rem 0rem .5rem -.5rem;
}
  }
