.gateopening{
    color: green;
    font-size: 17px;
    /* margin-left: 1.2rem; */
    margin-top: 1rem;
}
.gateopeningInfo{
    /* margin-left: 1.2rem; */
    margin-top: .5rem;
    width: 450px;
}
.gates{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.gatesbox{
    border: 1px solid gray;
    padding: 1rem;
    cursor: pointer;
}
.gatesbox img{
    height: 110px;
    width: 120px;
}
.gatesmain{
    display: flex;
    justify-content: center;
}
.gatescontainer{
    margin-top: 1.5rem;
    margin-left: -2rem;
    width: 95%;
}
.gatesbox p{
    text-align: center;
    margin-top: .2rem;
}


/* @media screen and (max-width:1330px) {
    .gatesbox{
        border: 0px solid gray;
        padding: 1rem;
        width: 300px;
        cursor: pointer;
        margin-left: -5rem;
    }
    .gtXt{
        margin-left: -10rem;
    }
}

@media screen and (max-width:983px) {
    .gatesbox{
        border: 0px solid gray;
        padding: 1rem;
        width: 300px;
        cursor: pointer;
        margin-left: -7rem;
    }
    .gtXt{
        margin-left: -10rem;
    }
}

@media screen and (max-width:702px) {
    .gatesbox{
        border: 0px solid gray;
        padding: .2rem;
        width: 300px;
        cursor: pointer;
        margin-left: -7rem;
    }
    .gtXt{
        margin-left: -10rem;
    }
} */












@media screen and (max-width:1465px) {
    .gateopening{
        margin-left: -8.2rem;
        margin-top: 4rem;
    }
    .gateopeningInfo{
        margin-left: -8.2rem;
        margin-top: .5rem;
        width: 550px;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1.5rem;
        cursor: pointer;
        
    }
    .gates{
        margin-left: -10rem;
    }
    .gatesbox img{
        height: 200px;
        width: 200px;
    }
    .gatescontainer{
        margin-top: 1.5rem;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1rem;
        height: 250px;
        cursor: pointer;
        width: 250px;
    }
}

@media screen and (max-width:1120px) {
    .gateopening{
        margin-left: -8.2rem;
        margin-top: 4rem;
    }
    .gateopeningInfo{
        margin-left: -8.2rem;
        margin-top: .5rem;
        width: 550px;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1.5rem;
        cursor: pointer;
    }
    .gatesbox img{
        height: 150px;
        width: 200px;
    }
    .gatescontainer{
        margin-top: 1.5rem;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1rem;
        height: 200px;
        cursor: pointer;
        width: 200px;
    }
}


@media screen and (max-width:866px) {
    .gates{
        margin-left: -6rem;
    }
    .gateopening{
        margin-left: -6.2rem;
        margin-top: 4rem;
    }
    .gateopeningInfo{
        margin-left: -6.2rem;
        margin-top: .5rem;
        width: 550px;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1.5rem;
        cursor: pointer;
    }
    .gatesbox img{
        height: 110px;
        width: 150px;
    }
    .gatescontainer{
        margin-top: 1.5rem;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1rem;
        height: 160px;
        cursor: pointer;
        width: 150px;
    }
}


@media screen and (max-width:613px) {
    .gateopeningInfo{
        margin-left: -6.2rem;
        margin-top: .5rem;
        width: 550px;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1.5rem;
        cursor: pointer;
    }
    .gatesbox img{
        height: 110px;
        width: 150px;
    }
    .gatescontainer{
        margin-top: 1.5rem;
    }
    .gates{
        display: flex;
        justify-content: space-between;
            margin-left: -7rem;
    }
    .gatesbox{
        border: 1px solid gray;
        height: 160px;
        cursor: pointer;
        width: 160px;
    }
}

@media screen and (max-width:572px) {
    .gateopeningInfo{
        margin-left: -8.2rem;
        margin-top: .5rem;
        width: 550px;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1.5rem;
        cursor: pointer;
    }
    .gatesbox img{
        height: 110px;
        width: 150px;
    }
    .gatescontainer{
        margin-top: 1.5rem;
    }
    .gates{
        display: flex;
        justify-content: space-between;
        margin-left: -4rem;
    }
    .gatesbox{
        border: 1px solid gray;
        height: 160px;
        cursor: pointer;
        width: 160px;
    }
}

@media screen and (max-width:530px) {
    .gateopeningInfo{
        margin-left: -6.2rem;
        margin-top: .5rem;
        width: 550px;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1.5rem;
        cursor: pointer;
    }
    .gatesbox img{
        height: 110px;
        width: 150px;
    }
    .gatescontainer{
        margin-top: 1.5rem;
    }
    .gates{
        display: flex;
        justify-content: space-between;
        margin-left: -5rem;
    }
    .gatesbox{
        border: 1px solid gray;
        height: 160px;
        cursor: pointer;
        width: 160px;
    }
}

@media screen and (max-width:500px) {
    .gateopeningInfo{
        margin-left: -6.2rem;
        margin-top: .5rem;
        width: 550px;
    }
    .gatesbox{
        border: 1px solid gray;
        padding: 1.5rem;
        cursor: pointer;
    }
    .gatesbox img{
        height: 110px;
        width: 150px;
    }
    .gatescontainer{
        margin-top: 1.5rem;
    }
    .gates{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 2rem;
        margin-left: -5rem;
    }
    .gatesbox{
        border: 1px solid gray;
        height: 160px;
        cursor: pointer;
        width: 160px;
    }
}